<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <label class="cabinet center-block">
        <figure>
          <img src="" class="gambar img-responsive img-thumbnail" id="item-img-output" />
          <figcaption><i class="fa fa-camera"></i></figcaption>
        </figure>
        <input type="file" class="item-img file center-block" name="file_photo"/>
      </label>
    </div>
  </div>
</div>

<div class="modal fade" id="cropImagePop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
          <?=multiLanguage( <%= t("modal.edit_photo") %> , <%= t("modal.edit_photo") %> )?></h4>
      </div>
      <div class="modal-body">
        <div id="upload-demo" class="center-block"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("modal.close") %></button>
        <button type="button" id="cropImageBtn" class="btn btn-primary"><%= t("modal.crop") %></button>
      </div>
    </div>
  </div>
</div>
