@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

a {
  decoration: none;
  color: #ffffff;
}

a:hover {
  decoration: none;
}

.edit_user {
  line-height: 35px;
  margin-left: 10px;
}

.sign_out {
  line-height: 35px;
  margin-left: 10px;
}

.change-avatar-profile {
  position: relative;
  text-align: center;
  font-size: 13px;
}

.change-avatar-profile input {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
}

.card-user {
  float: left;
  margin: 15px;
  width: 15rem;
  height: 25rem;
}

.card-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.img-edit-avatar {
  width: 50%;
}

.user_wait {
  display: none;
}

.user_friend {
  display: none;
}

.btn-send-message {
  margin-top: 10px;
}
.room_chat_text {
  color:white;
  text-decoration: none;
  background-color: transparent;
}

#frame #slidepanel #search {
  background: #32465a;
}
.image-upload > input
{
  display: none;
}

.image-upload img
{
  width: 80px;
  cursor: pointer;
}

.sent .content-chat-file {
  background: #435f7a;
  color: #f5f5f5;
  float: left;
  padding: 2px;
  border-radius: 5px;
}

.replies .content-chat-file {
  background: #f5f5f5;
  float: right;
  padding: 2px;
  border-radius: 5px;
}
img.avatar-file{
  border-radius: 0%;
  width: 35px;
}

.replies .content-chat-file a {
  color: #2c3e50;
}
